.nav-no-bg{
  background: none;
  width: 100%;
  border: none;
  position: absolute;
}
.btn-no-bg{
  background: none;
  border: none;
}
.srh{
  opacity: .5;
  border-radius: 10px;
}
span.txt{
  color: rgb(252,79,19);
  font-weight: bold;
}
.btn-txt{
  color: rgb(252,79,19);
  font-weight: bold;
}
